body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #303030;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #f59014;
  color: white;
}

.collapsible {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #000;
  color: white;
}

background-color: #000000;
opacity: 0.8;
background-image:  linear-gradient(30deg, #f59014 12%, transparent 12.5%, transparent 87%, #f59014 87.5%, #f59014), linear-gradient(150deg, #f59014 12%, transparent 12.5%, transparent 87%, #f59014 87.5%, #f59014), linear-gradient(30deg, #f59014 12%, transparent 12.5%, transparent 87%, #f59014 87.5%, #f59014), linear-gradient(150deg, #f59014 12%, transparent 12.5%, transparent 87%, #f59014 87.5%, #f59014), linear-gradient(60deg, #f6c56e 25%, transparent 25.5%, transparent 75%, #f6c56e 75%, #f6c56e), linear-gradient(60deg, #f6c56e 25%, transparent 25.5%, transparent 75%, #f6c56e 75%, #f6c56e);
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
