div .panel {
  background-color: "black";
  color: "white";
}

div .subpanels {
  background-color: "black";
  color: "white";
}

div #InjectorPanel {
  background-color: "black";
  color: "white";
}

.links {
  color: "orange";
}

div .panelbar {
  background-color: "orange";
  color: "white";
}

div #InjectorPanel bar{
  background-color: "orange";
  color: "white";
}
