.panel {
  background-color: "black";
  color: "white";
}

.subpanels {
  background-color: "black";
  color: "white";
}

#InjectorPanel {
  background-color: "black";
  color: "white";
}

.links {
  display: block;
  color: "orange";
}

.panelbar {
  background-color: "orange";
  color: "white";
}

.bookmarklets {
  list-style-type: disc;
}
